@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <title></title>
    <style>
        /*查询按钮*/
        .btn_select {
            width: 100px;
        }

        .z_containetr {
            width: 90% !important;
            /*margin-left: 5%;*/
        }
    </style>
</head>
<body>
    <!--修改学生信息-->
    <div class="containetr">
        <div class="form-group">
            <label for="" class='col-md-1 control-label'>专业年级:</label>
            <div class="col-md-2">
                <select name="p" class="form-control">
                    <option value="0" selected="selected">--请选择--</option>
                    <option value="1">2017级</option>
                    <option value="2">2016级</option>
                    <option value="3">2015级</option>
                    <option value="4">2014级</option>
                    <option value="5">2013级</option>
                    <option value="6">2012级</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class='col-md-1 control-label'>所属院系:</label>
            <div class="col-md-2">
                <select name="p" class="form-control">
                    <option value="0" selected="selected">--请选择--</option>
                    <option value="1">计算机与信息工程学院</option>
                    <option value="2">物电学院</option>
                    <option value="3">文学院</option>
                    <option value="3">新闻传播学院</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class='col-md-1 control-label'>所在班级:</label>
            <div class="col-md-2">
                <select name="p" class="form-control">
                    <option value="0" selected="selected">--请选择--</option>
                    <option value="1">计算机科学与技术1501班</option>
                    <option value="2">软件工程1501班</option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <input type="submit" class='btn btn-info btn_select' value="查询" />
            </div>
        </div>
        <hr style="visibility: hidden;" />	<hr />
        <div class="container z_containetr">
            <div class="layui-form">
                <table class="layui-table">
                    <colgroup>
                        <col style="width:3%">
                        <col style="width:10%">
                        <col style="width:9%">
                        <col style="width:4%">
                        <col style="width:4%">
                        <col style="width:15%">
                        <col style="width:25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>家庭住址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                         
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                          
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                       
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>

                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                        
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                         
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                          
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                          
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>                       
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                          
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                          
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                           
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>2015221119200***</td>
                            <td>张某某</td>
                            <td>男</td>
                            <td>20</td>
                            <td>湖北省武汉市江岸区</td>
                            
                            <td>
                                <button class="btn btn-info  smodal" style="margin-left: 5%;">查看</button>
                                <button class="btn btn-warning smodal2" style="margin-left: 5%;">修改</button>
                                <button class="btn btn-danger stu_del" style="margin-left: 5%;">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="mymodal" class='modal fade'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss='modal'>&times;</div>
                    <h3>个人详细信息</h3>
                </div>
                <div class="modal-body">
                    <p>
                        <label>姓名：</label>
                        <span>张某某</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>年龄：</label>
                        <span>20</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>性别：</label>
                        <span>男</span>
                    </p>
                    <p>
                        <label>学院：</label><span>计算机与信息工程学院</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>专业：</label><span>通信工程</span>
                    </p>
                    <p>
                        <label>获奖经历：</label>
                        <span>跟随导师徐祖顺教授以及张先正教授进行对生物医用高分子材料的研究和开发，先后发表了十余篇SCI论文，其中以第一作者身份在Nano Letters，ACS Nano等国际顶级期刊上发表文章4篇。2015年，荣获第十四届“挑战杯”全国大学生课外学术科技作品竞赛二等奖，并被多家媒体报道。</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <!--<button class='btn btn-primary save'>save</button>-->
                    <button class='btn btn-info btn_select' data-dismiss='modal'>关闭</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="mymodal2" class='modal fade'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss='modal'>&times;</div>
                    <h3>修改个人信息</h3>
                </div>
                <div class="modal-body">
                    <form action="" class='form-horizontal'>
                        <div class="form-group">
                            <label for="" class='col-sm-2 control-label '>个人描述:</label>
                            <div class="col-sm-9">
                                <textarea class='form-control' placeholder='rewardexperience' rows="5" cols="12"></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class='btn  btn-info save btn_select'>修改</button>
                    <button class='btn btn-default btn_select' data-dismiss='modal'>取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
//模态框
//开启modal
$('.smodal').click(function(){
	$('#mymodal').modal('show');
});
$('.save').click(function(){
	alert('修改成功!');

	//把modal隐藏
	$('#mymodal2').modal('hide');
});
$('.smodal2').click(function(){
	$('#mymodal2').modal('show');
});
//删除
$('.stu_del').click(function(){
	r=confirm("你确认删除该记录吗？");
		if(!r)
		{
			return false;
		}
});
    </script>
</body>
</html>

