
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/public/new_file.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/public/jcarousellite.js"></script>
    <script type="text/javascript" src="~/Scripts/public/docs.min.js"></script>
    <title>学生选课系统首页</title>
</head>
<body onload="loadCourseInfo()">
    <!--logo部分-->
    <div class="container-fluid">
        <div class="z_top">
            <div class="container">
                <div class="col-md-6">
                    <img src="~/Content/img/logo2.PNG" />
                </div>
                <div class="col-md-4">
                    <!--搜索框-->
                    <div class="sousuo">
                        <form method="get" onsubmit="">
                            <div class="search">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" class="search-keyword" placeholder="请输入课程/老师名称" />

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2" style="width: 146px;">
                    <ul class="top_r">
                        <li>
                            <a href="#">注册</a>
                        </li>
                        <li><span>|</span></li>
                        <li>
                            <a href='/Login/Index'>登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--nav部分-->
    <div class="z_nav container-fluid">
        <div class="nav_cent container">
            <ul>
                <li>
                    <a href="#">
                        <center>网站首页</center>
                    </a>
                </li>
                <li>
                    <a href="#course0">
                        <center>最新课程</center>
                    </a>
                </li>
                <li>
                    <a href="#course1">
                        <center>公共必修课</center>
                    </a>
                </li>
                <li>
                    <a href="#course2">
                        <center>公共选修课</center>
                    </a>
                </li>
                <li>
                    <a href="#course3">
                        <center>专业必修课</center>
                    </a>
                </li>
                <li>
                    <a href="#course4">
                        <center>专业选修课</center>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--轮播图部分-->
    <div id='mycarousel' class='carousel slide' data-ride='carousel'>
        <!-- 幻灯片图片 -->
        <div class='carousel-inner'>
            <div class="item active">
                <img src="~/Content/img/a.jpg" alt="" />
                <div class="carousel-caption">
                    <h3>选课网站简介</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。致力于中西部地区IT人才造梦工厂，帮助更多有志青年通过学习软件开发技术改变自己的命运，优化互联网市场和环境</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/b.jpg" alt="">
                <div class="carousel-caption">
                    <h3>选课网站简介</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。致力于中西部地区IT人才造梦工厂，帮助更多有志青年通过学习软件开发技术改变自己的命运，优化互联网市场和环境</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/img/c.jpg" alt="">
                <div class="carousel-caption">
                    <h3>选课网站简介</h3>
                    <p>该网站主要帮助学生方便快捷的进行选课，专业从事互联网软件开发、技术服务、技术咨询和教育咨询业务，核心是基础课程的学习和实践。致力于中西部地区IT人才造梦工厂，帮助更多有志青年通过学习软件开发技术改变自己的命运，优化互联网市场和环境</p>
                </div>
            </div>
        </div>
        <!-- 左右控制 -->
        <a href="#mycarousel" class='left carousel-control' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
        </a>

        <a href="#mycarousel" class='right carousel-control' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
    </div>	

    <!--通知公告-->
    <div class="container">
        <!--左侧新闻动态-->
        <div class="col-md-8 z_detail">
            <div class="panel panel-default">
                <div class="panel-heading">通知公告</div>
                <div class="panel-body detail">
                    <!--新闻公告图片-->
                    <div class="rollpic cl">
                        <a href="javascript:void(0)" class="prev"></a>
                        <div class="rollpicshow">
                            <ul>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new3.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new3.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new1.jpg"></li>
                                <li><img width="170" height="143" title="" src="~/Content/img/new2.jpg"></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0)" class="next"></a>
                    </div>
                    <ul>
                        <li>
                            <s></s>
                            <a href="#" title="关于2017年国庆节放假期间本科教学安排调整的通知">关于2017年国庆节放假期间本科教学安排调整的通知</a><img src="~/Content/img/new.gif" />
                            <p>2017-09-20</p>
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="湖北大学推荐2018届优秀本科毕业生免试攻读研究生名单审核结...">湖北大学推荐2018届优秀本科毕业生免试攻读研究生名单审核结...</a><img src="~/Content/img/new.gif" />
                            <p>2017-05-29</p>
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="2017-2018-1学期补考考试安排通知">2017-2018-1学期补考考试安排通知</a>
                            <p>2017-02-05</p><img src="~/Content/img/new.gif" />
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="2017-2018-1学期部分课程停开和第二阶段选课通知">2017-2018-1学期部分课程停开和第二阶段选课通知</a>
                            <p>2017-05-05</p><img src="~/Content/img/new.gif" />
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="关于做好2017-2018-1学期重新学习工作的通知">关于做好2017-2018-1学期重新学习工作的通知</a>
                            <p>2017-05-05</p>
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="关于组织2017级部分新生参加《大学英语》分级教学测试的通知">关于组织2017级部分新生参加《大学英语》分级教学测试的通知</a>
                            <p>2017-05-05</p>
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="关于做好2017-2018-1学期补考工作的通知">关于做好2017-2018-1学期补考工作的通知</a>
                            <p>2017-05-05</p>
                        </li>
                        <li>
                            <s></s>
                            <a href="#" title="转发首届“武汉大学生文创大赛”项目征集方案">转发首届“武汉大学生文创大赛”项目征集方案</a>
                            <p>2017-05-05</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--动态文字公告-->
        <div class="col-md-4 z_autonews">
            <div class="panel panel-default">
                <div class="panel-heading">新闻动态</div>
                <div class="panel-body">
                    <div class="layui-collapse" lay-accordion="">
                        <div class="layui-colla-item">
                            <div class="layui-colla-content layui-show">
                                <div id="marquee" class="marquee">
                                    <div id="holder" style="font-size: 15px;">
                                        <ul>
                                            <li><b>[公告一]赵凌云校长指导本科教学</b>5月10日上午，校长赵凌云在副校长杨鲜兰的陪同下，深入教务处调研、指导本科教学工作。赵凌云校长指出，本科教学工作是学校的枢纽和核心，全校上下都要高度重视本科教学工作，切实履行好人才培养的职责使命，全面提高人才培养质量。他强调，接下来，要切实做好本科教学审核评估工作，认真落实各项评估工作任务分工，以评促建，推动学校发展。</li>
                                            <br />
                                            <li><b>[公告二]尚钢书记调研本科教学</b>2月19日上午，党委书记尚钢到教务处调研本科教学工作，处领导班子全体成员参加。尚钢书记首先对教务处2016年的工作给予了肯定，并对2017年的工作提出了期望和要求。他指出，本科教学工作是学校工作的重中之重，是学校安身立命和发展之本，教务处除了做好日常教学管理与服务以外，要重点做好以下三个方面的工作。</li>
                                            <br />
                                            <li><b>[公告三]党委书记尚钢调研本科教学工作</b>12月1日上午，党委书记尚钢到教务处调研本科教学工作，处领导班子全体成员参加。教务处处长章天金就本科教学工作整体情况、面临的问题和困难及下一步工作打算等方面向尚钢书记作了汇报，其他处领导也分别介绍了分管的工作。</li>
                                            <br />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!---课程信息-->
    <div class="container-fluid">
        <div class="container">
            <!--最新课程-->
            <div class="z_class">
                <div id="new" class="z_class_nav">
                    <h4 id="course0">最新课程<sup><img src="~/Content/img/new.gif"></sup><a href='/Course/CourseDisplay'>更多>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="newImg1" src=""/>
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>课程学分：</label>
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>李某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：45人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <img id="newImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                </div>
            </div>
            <!--公共必修课-->
            <div class="z_class">
                <div id="gb" class="z_class_nav">
                    <h4 id="course1">公共必修课<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=公共必修课'>更多>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gbImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                </div>
            </div>
            <!--公共选修课-->
            <div class="z_class">
                <div id="gx" class="z_class_nav">
                    <h4 id="course2">公共选修课<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=公共选修课'>更多>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="gxImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                </div>
            </div>
            <!--专业必修课-->
            <div class="z_class">
                <div id="zb" class="z_class_nav">
                    <h4 id="course3">专业必修课<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=专业必修课'>更多>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zbImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                </div>
            </div>
            <!--专业选修-->
            <div class="z_class">
                <div id="zx" class="z_class_nav">
                    <h4 id="course4">专业选修课<!--<sup><img src="img/new.gif"></sup>--><a href='/Course/CourseDisplay?courseType=专业选修课'>更多>></a></h4>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg1" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg2" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg3" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg4" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg5" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                    <div class="z_class_detail col-md-4">
                        <!--<img src="holder.js/100%x70%">-->
                        <img id="zxImg6" src="" />
                        <p>
                            <a href="#"></a>
                        </p>
                        <span>
                            <label>授课老师：</label>张某某
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <br />
                            <label>开课时间：</label>2017/9/1  <font>学习人数：56人</font>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--回到顶部-->
    <div class="container">
        <div class="tooltip-demo">
            <button type="button" onclick="window.location.href='/Home/Index'" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="left" title="" data-original-title="回到顶部">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
        </div>
    </div>

    <!--底部友情提示 -->
    <div class="container-fluid buttombaxkground">
        <div class="container">
            <div class="buttom_1" align="center">
                <ul>
                    <li>
                        <a href="#">友情链接</a>
                    </li>
                    <li><span>|</span></li>
                    <li>
                        <a href="#">游客留言</a>
                    </li>
                    <li><span>|</span></li>
                    <li>
                        <a href="#">网站服务</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="buttom_2" align="center">
                版权所有2017湖北大学 联系电话：88663890 电子邮件：jwc@hubu.edu.cn 鄂ICP备05003305 邮编：地址：湖北省武汉市武昌区友谊大道368号
            </div>
        </div>
    </div>
    <script src="~/Scripts/public/index.js"></script>

    <script>

        //动态加载课程信息
        function loadCourseInfo() {

            $.ajax({
                url: "/Home/GetNewCourse?size=6",
                method: "post",
                async: false,
                success: function (data) {

                    if (data.status == "0") {
                        //alert(data.status);
                        //将数据填入相应的图片位置

                        //最新课程
                        var newList = data.newCourseList;
                        insert(newList,"newImg","new");

                        //公选课程
                        var gxList = data.gxCourseList;
                        insert(gxList, "gxImg","gx");

                        //公共必修课
                        var gbList = data.gbCourseList;
                        insert(gbList, "gbImg","gb");

                        //专选课程
                        var zxList = data.zxCourseList;
                        insert(zxList, "zxImg","zx");

                        //专业必修课
                        var zbList = data.zbCourseList;
                        insert(zbList, "zbImg","zb");


                    }
                    else {
                        alert("网络出错啦！！");
                    }
                },
                error: function () {
                    alert("网络出错啦！！");
                }
            });
        }

        //执行插入
        function insert(array, imgId, divId) {

            var rootImg = "/Content/courseImg/";

            var links = document.getElementById(divId).getElementsByTagName("a");

            $.each(array, function (i) {
               
                links[i+1].innerHTML = array[i].course_name;
                document.getElementById(imgId + (i + 1) + "").src = rootImg + array[i].course_photo;
                
            });

            
        }
    </script>
</body>
</html>
